Flask
Flask-SQLAlchemy
Flask-Marshmallow
marshmallow-sqlalchemy
bcrypt
pandas
pytest
selenium
pytest-cov
PyJWT
faker
pyarrow
Flask-WTF
plotly
scikit-learn 
pytest-flask
requests
blinker
certifi
charset-normalizer
click
idna
itsdangerous
Jinja2
MarkupSafe
psutil
pycryptodome
rsa
urllib3
Werkzeug
